// Descriptive color variables

$white          : #fff;
$success          : #63cc82;
$error           : #e4757a;
$info            :#927bc1;
$warning         :#fd7856;
$button-background-color: #51ddfc;
$secondary-color :#7ee6fd;
// Functional color variables

$color-prim     :#58e1c1;


// Media Query Variables

//$brk-narrow:'(max-width: 768px)';
$brk-wide: 768px;

        //Typography Variables 

        // Px  Value Variables
$margin-left-value: 20px;
$padding-left-value: 20px;

// Font weight Variables
$font-weight: 300px;

//lighten color functions
$sec-color-lighten: lighten($secondary-color, 15%);
$err-color-lighten: lighten($error, 25%);
$info-color-lighten: lighten($info, 25%);
$warning-color-lighten: lighten($warning, 25%);
$success-color-lighten: lighten($success, 25%);
