/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $button-background-color;
    &:hover {
      background-color:lighten($color-prim, 25%) ;
    }
  }
  
  .error {
    background-color: $error ;
    &:hover {

      background-color: $err-color-lighten;
    }
  }
  
  .info {
    background-color: #927bc1;
    &:hover {

      background-color: $info-color-lighten;
    }
  }
  
  .success {
    background-color: $success;
    &:hover {
      background-color: $success-color-lighten;
    }
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {

      background-color: $warning-color-lighten;
    }
  }
  
  

  